@import url('https://fonts.googleapis.com/css2?family=Inter');


*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
.about_div{
    width: 705px;
    height:620px;
    border: 2px solid hsl(43, 37%, 96%);
    margin: auto;
    background-color:hsl(43, 37%, 96%);
      
}
@media (max-width: 576px) {
  .about_div {
    width: 90%; 
    height: auto; 
    margin-top: 10px;
  }
}  

.rulles{
  width: 482px;
  margin: auto;
  align-items: center;
  margin-top: 40px;

}
@media (max-width: 576px){
  .rulles {
    width: 90%; 
    margin-top: 40px;
    
  }

}

.instruction{
  width: 471px;
  height: 21px;
  color:  #4C4B49;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


@media (max-width: 576px) {
   .instruction{
    width: 100%;
    text-align: center;
  }
}
.about_div p  {
  width: 471px;
  color:  #4C4B49;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
  margin-top: 16px;
  
}
.about_div ul{
  margin-left: 20px;
  width: 471px;
  color:  #4C4B49;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
  margin-top: 8px;
}
@media (max-width: 576px){
  /* .about_div span, */
  .about_div p,
  .about_div ul {
    width: 90%; 
    font-size: 16px; 
  }

}

.border_line{
  width: 620px;
  border-top: 1px solid #4C4B49; ;
  margin-left: 48px;
  margin-top: 40px;
}
@media (max-width: 576px) {
  .border_line {
    width: 90%; 
    margin-left: 5%; 
    margin-top: 40px;
  }

}

.start_button{
  width: 145px;
  height: 54px;
  display: flex;
  padding: 16px 35px;
  border-radius: 4px;
  box-shadow: 0px 4px 7px 0px #B3AE9C;
  margin:auto;
  margin-top: 46px; 
  margin-bottom: 40px;
  background-color: #feeeb4;
  border: 1px solid #f4d150;
  text-decoration: none;
  color: #000;
  text-align: center;
  font-weight: 400;
  font-family: Inria Sans, sans-serif;
}
   
