@import url('https://fonts.googleapis.com/css2?family=Inter');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body{
    margin:  0px;
    padding: 0px;
    box-sizing: border-box;
}
.header_seconed{
    background:  #FCFAFA;  
    /* border: 2px solid red; */
    height: auto; 
    /* padding: 10px; */

    

}
.main_header{
    display: flex;
    width: 1200px;
    /* height:72px; */
    margin:auto;
    border: 1px solid blueviolet;
    justify-content: space-between;

}
.logo_img{
  margin-top: 18px;
  margin-bottom: 18px;
  /* border: 1px solid  rebeccapurple; */

    
} 




.submit_button{
    width: 130px;
    height:54px;
    margin-top: 9px;
    color:  #1F1E1C;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding: 16px 35px;
    border-radius: 4px;
   background:  #FEEEB4;
   border: 1px solid #F4D150;
   box-shadow: 0px 4px 7px 0px #B3AE9C;
}  

.logo_pagination{
    width:997px;
    display: flex;
    justify-content: space-between;
    
} 


.page_number{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 17px;
    gap:16px;
    border: 1px solid blue;
    
}  
 
 .page_first, .page_seconed ,.page_three, .page_four, .page_five, .page_six, .page_seven, .page_eight {
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    border-radius: 30px;
    /* border: 2px solid #E0DFDA; */
    border: 1px solid blueviolet;
    padding: 7px 10px 6px 10px;
    
} 
.page_hidden{
    display: none;
}

   



@media screen and (max-width: 576px) {
    .header_seconed{
        border: 1px solid red; 
        
    }  
    .main_header{
        width:360px;
        width: 100%;
        /* display: block; */

    }
    .logo_pagination{
        width: 100%;
        display: block;
    }
    .logo_img{
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center

    }
    
     .page_number {
        width: 100%;
        /* display: flex;
        align-items: center;
        justify-content: space-around; */
    }
    .page {
        margin: 5px 0; 
        padding: 5px 10px; 
    }

    .submit_button{
        display: none;
    }

    .page_hidden{
        display: block;
    }

    .page_seconed ,.page_three, .page_four,.page_six, .page_seven{
        display: none;
    }
    
    
    
} 
