@import url('https://fonts.googleapis.com/css2?family=Inria Sans');
@import url('https://fonts.googleapis.com/css2?family=Inter'); 

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main_container{
    width: 1200px;
    margin: auto;  
     
}
@media screen and (max-width: 576px) {
    .main_container {
        width: 100% 
    }          

}

.question_timer_container{
    margin-left: 103px;
    margin-right: 203px;
    display: flex;
    margin-bottom: 136px;
}
@media screen and (max-width: 576px) {
    .question_timer_container {
        flex-direction: column;
        margin-left: 20px ;
        margin-right: 20px; 
        margin-bottom: 20px; 
    }
}    
    

.timer_filter_div{
    position: relative;
    top: -60px;
    width: 286px;
    
}
@media screen and (max-width: 576px) {
    .timer_filter_div {
        width: 100%; 
        top:23px;
        display: flex;
        justify-content: space-between;
        

    }
}    
    

.timer_div{
    width: 150px;
    margin: auto;  

} 
@media screen and (max-width: 576px) {
    .timer_div {
        margin: 0px;  

    }
}
    

.clock_first{  
    width: 145px;
    height: 145px;
    border: 1px solid red;
    border-radius:100px ;
    background:  #EBE9E6;  
}

@media screen and (max-width: 576px) {
    .clock_first {
        width: 100px; 
        height: 100px;
    }
}    
    

.clock_seconed{
    width: 125px;
    height: 125px;
    border: 1px solid red;
    border-radius:80px ;
    margin: 9px;
    background: white;  
} 
.time{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f26b6b;
    margin-top: 30px;
}
.minutes,
.seconds {
    font-weight: bold;
    color:  #E68086;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}

.colon {
    margin: 5px;
    color:  #1F1E1C;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 500;
   
}

@media screen and (max-width: 576px) {
    .clock_seconed {
        width: 85px; 
        height: 85px;
        margin: 6.5px;
       
    }
}    
    
h6{
    color: #1F1E1C;
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
    text-align: center;
}
@media screen and (max-width: 576px) {
    h6 {
        display: none;
    }
}    
    
.popop_filter{
    display: none;
}


@media screen and (max-width: 576px) {
    .popop_filter{
        height: 39px;
        width: 108px;
        margin-top: 40px;
        display: flex;
        align-items: center;
        gap: 12px;
        border-radius: 6px;
        border: 2px solid #e0dfda;
        background: #fcfafa;
        margin-right:10px
    }
    .col1{
        border-top: 2px solid #777671;
        padding-top: 2px;
        margin-left: 10px;
        width: 16px;
    }
    .col2{
        border-top: 2px solid #777671;
        padding-top: 2px;
        width: 13px;
        margin-left: 11px;
    } 
    .col3{
        border-top: 2px solid #777671;
        width: 10px;
        margin-left: 12px;
        padding-top: 2px;
        
    }  
    .filter_mobile{
        color: #4c4b49;
        font-family: "Inria Sans";
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        margin-right:10px

    }   
        
}

 



