 .main_container{
    width: 1200px;
    margin: auto;  
     
}
.question_timer_container{
    margin-left: 103px;
    margin-right: 203px;
    display: flex;
    margin-bottom: 136px;
}

.timer_filter_div{
    position: relative;
    top: -60px;
    border: 1px solid red;
    width: 286px;
    display: flex;
    justify-content: space-between;
}

.timer_div{
    width: 150px;
    margin: auto;
   

} 

.clock_first{  
    width: 145px;
    height: 145px;
    border: 1px solid red;
    border-radius:100px ;
    background:  #EBE9E6;  
}

.clock_seconed{
    width: 125px;
    height: 125px;
    border: 1px solid red;
    border-radius:80px ;
    margin: 9px;
    background: white;  
}  
h6{
    color: #1F1E1C;
    font-size: 14px;
    font-weight: 600;
    margin: 0px;
    text-align: center;
}


@media screen and (max-width: 576px) {
    .main_container {
        width: 100%
        

    }

    .question_timer_container {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0; 
        margin-bottom: 50px; 
    }

    .timer_filter_div {
        width: 100%; 
        margin-top: 60px; 
        border: 1px solid blue;
        

    }

    .timer_div {
        margin: 0px;
        margin-left: 20px;
        margin-top: 23px;
        

    }

    .clock_first {
        width: 120px; 
        height: 120px;
    }

    .clock_seconed {
        width: 100px; 
        height: 100px;
       
    }
    .filter_buuton_box{
        display: flex;
        height: 39px;
        width: 104px;
        border: 1px solid red;
        margin-right: 20px;
        margin-top: 67px;

    }
    .line1{
        width: 30px;
        border-bottom: 1px solid blue;
    }

    h6 {
        display: none;
    }
}

 



