*{
  box-sizing: border-box;
}

body{
  background: #EBE9E6;;
  margin:0px
}
.footer_div{
  height: 200px;
  background-color:#4C4B49;
  margin:auto;
  margin-top: 143px;
}
.text{
  color: white;
  justify-content: center;
  text-align: center;
  margin-top: 46px;
}
.text p{
  margin-top: 18px;
}
  
@media (max-width: 600px) {
  .footer_div {
    height: auto;
    padding: 20px;
    margin-top: 50px;
  }

  .text {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .text p {
    margin-top: 10px;
  }
}

 
